nav.nav-main
    // Hamburger menu : displayed only in small screens
    i#mobilemenu.fa.fa-bars
    // this button only shows on mobile version of a "class" page
    if currentUrl === '/classes/class'
        a(href='/classes/' + currentVersion)
            i#goBackToClassList.fa.fa-arrow-left

    .banner
        .menu
            .do-not-hover#home(class={homeClassMobile: currentUrl === '/classes/class'})
                a(href='/')
                    | Babylon.js | GUIDE
            #begin.item(class={active: currentUrl === '/begins.html'})
                a(href='/begins.html')
                    | Begin Here
            #basic.item(class={active: currentUrl === '/basics.html'})
                a(href='/basics.html')
                    | Basics
            #intermediate.item(class={active: currentUrl === '/intermediate.html'})
                a(href='/intermediate.html')
                    | Intermediate
            #advanced.item(class={active: currentUrl === '/advanced.html'})
                a(href='/advanced.html')
                    | Advanced
            #gamelets.item(class={active: currentUrl === '/gamelets.html'})
                a(href='/gamelets.html')
                    | Gamelets
            #snippets.item(class={active: currentUrl === '/snippets.html'})
                a(href='/snippets.html')
                    | Snippets  
            #item_list.item(class={active: currentUrl === '/item_list.html'})
                a(href='/item_list.html')
                    | Index                      
